/*.blocphoto {
  font-size: 25px;
  background-color: #d9c8b4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
}
.formation1 {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
}
.présentation {
  background-color: #d9c8b4;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  text-align: justify;
  border: 1px solid black;
  line-height: 40px;
  position: sticky;
}
.présentation h2 {
  text-align: center;
}
.Experiencespro,
.Formation,
.competence,
.Hobbies{
  background-color: #d9c8b4;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  border: 1px solid black;
}
.Experiencespro li {
  list-style: none;
}
table {
 margin: auto;
}
table,
caption,
th,
td {
  border: 1px solid black;
}
img {
  max-width: 100%;
}
.Hobbies,
.competence,
.présentation,
.Experiencespro,
.Formation,
.blocphoto{
  max-width: 100%;
  box-shadow: 5px 5px 2px 1px #d9ac848a;
}
footer{
  width: 100%;
}
@media (max-width: 690px) {
  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 40px;
  }

  table td {
    display: block;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

@media screen and (min-width: 400px) {
  .Experiencespro,
  .Formation,
  .competence,
  .Hobbies,
  .blocphoto,
  .présentation{
    width: 60%;
  }
}
@media screen and (min-width: 767px) {
  .Experiencespro,
  .Formation,
  .competence,
  .Hobbies,
  .blocphoto,
  .présentation{
    width: 50%;
  }
}

@media (max-width: 698px) {
  table,
  td,
  tr,
  caption,
  th {
    border: none;
  }
}*/
body {
  align-self: center;
  position: relative;
  width: 100%;
}
h1 {
  display: flex;
  justify-content: center;}
h2 {
  text-align: justify;
}
h3 {
  text-align: center;
}

main {
  width: 75%;
  margin: auto;
}
  /* li{
 list-style: none; 
 text-align: center; 
}  */
section {
  background-color: #D9C8B4;
  border-color: #403F3c;
  margin-bottom: 7%;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 1px #d9ac848a;

  }
table {
  margin: auto;
  text-align: center;
  }
/* Classes CSS */

.intro {
  display: flex;
  flex-flow: column wrap;
  

}
.avatar {
  width: 60%;
  height: 60%;
  align-self: center;
}
/* Bootstrap CV */
#xp-pro, #formation-pro{
  height: 500px;
  overflow-y: scroll;
  
}

:root {
  --bs-primary-rgb :217, 172, 132;
}
.timeline:before {
content: "";
background: #d9ac84;
width: 5px;
height: 280%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.timeline-item:nth-child(even) .timeline-content {
float: right;
padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
right: auto;
left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent var(--bs-light) transparent transparent;
}
.timeline-item::after {
content: "";
display: block;
clear: both;
}
.timeline-content {
position: relative;
width: 45%;
padding: 10px 30px;
border-radius: 4px;
background: #f2e6d8;
}
.timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
right: -15px;
border-width: 10px 0 10px 15px;
border-color: transparent transparent transparent var(--bs-light);
}
.timeline-img {
width: 30px;
height: 30px;
background: #d9ac84;
border-radius: 50%;
position: absolute;
left: 50%;
margin-top: 5px;
margin-left: -15px;
}

@media screen and (max-width: 768px) {
.timeline::before {
left: 50px;
}
.timeline .timeline-img {
left: 50px;
}
.timeline .timeline-content {
max-width: 100%;
width: auto;
margin-left: 70px;
}
.timeline .timeline-item:nth-child(even) .timeline-content {
float: none;
}   
.timeline .timeline-item:nth-child(odd) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent #f5f5f5 transparent transparent;
}
#xp-pro, #formation-pro{
  width: 100%;
}

@media screen and (min-width: 481px){
  section {width: 60%; margin-left: 20%; margin-top: 2%; margin-bottom: 2%; }
}

}
.vignets {
    
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}