body {
    align-self: center;
    position: relative;
    width: 100%;
}
.container:first-child {
    margin-top :9vh !important;
}
h1 {
    display: flex;
    justify-content: center;}
h2 {
    text-align: justify;
}
h3 {
    text-align: center;
}

main {
    width: 75%;
    margin: auto;
}


section {
    background-color: #D9C8B4;
    border-color: #403F3c;
    margin-bottom: 7%;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 2px 1px #d9ac848a;

    }
table {
    margin: auto;
    text-align: center;
    }
/* Classes CSS */

.intro {
    display: flex;
    flex-flow: column wrap;
    

}
.avatar {
    width: 60%;
    height: 60%;
    align-self: center;
}
/* Bootstrap CV */
#xp-pro, #formation-pro{
    height: 500px;
    overflow-y: scroll;
    
}

:root {
    --bs-primary-rgb :217, 172, 132;
}
.timeline:before {
content: "";
background: #d9ac84;
width: 5px;
height: 150%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.timeline-item:nth-child(even) .timeline-content {
float: right;
padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
right: auto;
left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent var(--bs-light) transparent transparent;
}
.timeline-item::after {
content: "";
display: block;
clear: both;
}
.timeline-content {
position: relative;
width: 45%;
padding: 10px 30px;
border-radius: 4px;
background: #f2e6d8;
}
.timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
right: -15px;
border-width: 10px 0 10px 15px;
border-color: transparent transparent transparent var(--bs-light);
}
.timeline-img {
width: 30px;
height: 30px;
background: #d9ac84;
border-radius: 50%;
position: absolute;
left: 50%;
margin-top: 5px;
margin-left: -15px;
}

@media screen and (max-width: 768px) {
.timeline::before {
left: 50px; height: 300%;
}
.timeline .timeline-img {
left: 50px;
}
.timeline .timeline-content {
max-width: 100%;
width: auto;
margin-left: 70px;
}
.timeline .timeline-item:nth-child(even) .timeline-content {
float: none;
}
.timeline .timeline-item:nth-child(odd) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent #f5f5f5 transparent transparent;
}
.container {
    padding-left: 0%;
    padding-right: 0%;
}

}
@media screen and (min-width: 481px){
    section {width: 60%; margin-left: 20%; margin-top: 2%; margin-bottom: 2%; }
}